# Logs and Databases
*.log
*.sqlite3

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
ENV/
db.sqlite3
/backend/static/
/backend/media/

# Node / Frontend
node_modules/
/frontend/dist/
/frontend/coverage/
.eslintcache
.project
.DS_Store

# Local IDE configuration
.vscode/
.idea/

# Other
*.txt